In [6]:
1. #Write a code to create a string with your name and print it.
my_name = "PWSKILLS"
print(my_name)

PWSKILLS

In [7]:
2. #Write a code to find the length of the string "Hello World"

my_string = "Hello World"
length_of_string = len(my_string)
print(length_of_string)

11

In [9]:
3. #Write a code to slice the first 3 characters from the string "Python Programming"
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [10]:
4. #Write a code to convert the string "hello" to uppercase

my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [11]:
5. # Write a code to replace the word "apple" with "orange" in the string "I like apple"
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [12]:
6. #Write a code to create a list with numbers 1 to 5 and print it
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [13]:
7. #Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [14]:
8. #Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [15]:
9.#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [16]:
10. #Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]

reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [17]:
11. #Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [18]:
12. #Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [19]:
13. #Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [20]:
14. # Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [21]:
15. # Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit_tuple = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruit_tuple
print(is_kiwi_in_tuple)

False

In [22]:
16.#Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [23]:
17. #Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()

print(my_set)

set()

In [24]:
18. #Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [25]:
19. #Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2

print(union_set)

{1, 2, 3, 4, 5}

In [26]:
20. #Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1 & set2

print(intersection_set)

{2, 3}

In [27]:
21. #Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [28]:
22. #Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}

my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
23. #Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}

name_value = my_dict['name']

print(name_value)

Alice

In [30]:
24. #Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del my_dict['age']

print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [31]:
25. #Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}

key_exists = 'city' in my_dict

print(key_exists)

True

In [32]:
26. #Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

print("List:", my_list)

print("Tuple:", my_tuple)

print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [33]:
27. #Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [27, 59, 61, 86, 88]

In [34]:
28. # Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

print(my_list[3])

date

In [35]:
29. #Write a code to combine two dictionaries into one and print the result
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'job': 'Engineer'}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

In [8]:
30. #Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}